<!DOCTYPE html>
<html>
<head>
  <title>Stock Pulse</title>
  <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <h1>Stock Pulse</h1>
  <p>Enter in a stock symbol from the <a href="https://www.bloomberg.com/quote/INDU:IND/members">Dow Jones Industrial Average</a> and click on the submit button to see the last 30 messages from StockTwits that mentioned that stock </p>

  <div id="form">
    <input v-on:keyup.enter="getMessages" v-model="symbol" placeholder="Stock Symbol">
    <button v-on:click="getMessages">Submit</button>
  </div>

  <div id="messages">
    <message-item id="messageItem" v-for="item in messagesList" v-bind:message="item"></message-item>
  </div>

  <script>

    // global variable to store stock messages returned from the DB
    var stockMessages;

    // mock data for testing purposes
    // var testMessages = [
    //   {date: '11/10/16', time: '11:00', message: '$TSLA $AAPL $BIDU and the rest complied cleanly but idk about $FB- bizarre chart there after 120 break post 2pm EST.'},
    //   {date: '11/10/16', time: '11:03', message: '$AAPL know one wants to hold this pos overnight - protests can explode'},
    //   {date: '11/10/16', time: '11:07', message: '@aby1 but they can go after the changes so technically it wouldn&#39;t have bigger impact unlike $AAPL'}
    // ];

    var formVue = new Vue({
      el: '#form',
      data: {
        symbol: ''
      },
      methods: {
        getMessages: function() {
          console.log('form value =', this.symbol);
          // post request with the symbol entered in the form to return 30 messages about that stock from the DB
          Vue.http.post('/stocks', {symbol: this.symbol.toUpperCase()}).then(function(stocks) {
            console.log(stocks);
            stockMessages = stocks.body;
            // console.log('stockMessages value from inside POST request =', stockMessages);
          }, function(err) {
            console.log(err);
          }).then(function() {
            // after post request is finished create a new Vue component to extend html with each message
            Vue.component('message-item', {
              props: ['message'],
              template: '<li>{{message.date.slice(0, 10)}} {{message.time}} {{ message.message }}</li>'
            });

            // console.log('stockMessages value from outside POST request =', stockMessages);

            // vue instance for storing messages
            var messagesVue = new Vue({
              el: '#messages',
              data: {
                messagesList: stockMessages 
              }
            });

            console.log('Vue instance data', messagesVue.$data.messagesList);
          });

        }
      }
    });

  </script>

</body>

</html>